.navigation {
  @include fixedPosition;
  @include containerPadding;
  background-color: $white-color;
  box-shadow: 0px 0.2px 2px rgba($black-color, 0.25);
  &__wrapper {
    @include flexSpaceCenter;
    &--left {
      height: 41px;
      width: 115px;
    }
    &--right {
      @include flexCenter;
      gap: $xl-font;
      a {
        text-transform: capitalize;
        font-size: $sm-font;
        font-weight: 400;
      }
      .modal,
      .modal-mobile {
        position: relative;
      }

      .activeLink {
        color: $primary-color;
        .arrow-icon {
          * {
            color: $primary-color;
          }
        }
      }
      & > * {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 0.5rem;
      }

      @include lg {
        display: none;
      }
    }
    &--right__mobile {
      display: none;
      @include lg {
        display: block;
      }
    }
  }
}

.navModals {
  position: absolute;
  top: 100%;
  width: 250px;
  left: 0;
  z-index: 9999;
  border-radius: 15px;
  padding: $lg-font;
  margin-top: $xxs-font;
  background-color: $white-color;
  box-shadow: 0px 0.2px 2px rgba($black-color, 0.1);

  li a {
    font-weight: 400;
    &:hover {
      color: $primary-color;
    }
  }
  li:first-child {
    margin-bottom: $sm-font;
  }
}

.navigation__mobile--links {
  display: none;

  @include lg {
    @include flexCenter;
    position: fixed;
    top: 0;
    width: 100%;
    padding: $xl-font $lg-font $md-font;
    flex-direction: column;
    gap: 20px;
    color: $secondary-color;
    transition: all 1s;
    animation: fadeIn linear 0.1s;
    z-index: 999;
    margin-top: 5.6rem;
    border-bottom: 1px solid $light-gray;
    background-color: $white-color;
    a {
      @include flexSpaceCenter;
      width: 100%;
      font-weight: 400;
      text-transform: capitalize;
      font-size: $sm-font;
      margin-bottom: $lg-font;
    }

    #login,
    #signup {
      width: fit-content;
      align-self: flex-start;
      margin-bottom: $md-font;
    }
  }
}

.navigation__mobile--links--none {
  display: none;
}
